.km-ios #main .km-content
    {
        background: transparent;
    }

    #main .km-content
    {
        text-align: center;
    }

.km-navbar .km-widget.km-button {
position: absolute;
right: 15px;

}
.km-dialog-title, .km-view-title {
text-align:left !important;
margin-left:15px;
}
.km-header a.km-widget.km-button .km-text {
	display:none;
}



.km-primary.km-widget.km-button,.km-header .km-text {
	color:white !important;


}
.km-rightitem .km-text {
color:black !important;
}
.km-nova .km-modalview .km-footer .km-rightitem .km-button {
	position:relative;
}

    .km-material h1.loaderHeading,
    .km-flat h1.loaderHeading,
    .km-android h1.loaderHeading,
    .km-wp h1.loaderHeading
    {
        display: block;
    }

    .km-ios h1.loaderHeading
    {
    	font-size: 1rem;
    }
    .km-meego h1.loaderHeading,
    .km-blackberry h1.loaderHeading
    {
        font-size: 1.5rem;
    }

    .km-android-light h1.loaderHeading
    {
        color: #222;
    }
	h1 {
		text-align: center;
	}
	p{
		text-align: center;
		margin-left: 10%;
		margin-right: 10%;
	}
    #scrollview-home .photo {
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .photo1 {background-image: url("media/1.jpg");}
    .photo2 {background-image: url("media/2.jpg");}
    .photo3 {background-image: url("media/3.jpg");}
    .photo4 {background-image: url("media/4.jpg");}

	#touchSurface {
        background: #161d2b;
        padding: 5em 1em;
		color: white;
    }
